<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About</title>
    {% load static%}
     <link rel="icon" href="{% static 'assets/icon.png' %}">
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
</head>
<body>
<a href="{% url 'home' %}">Home</a>
<a href="{% url 'gallery' %}">Gallery</a>

<h1>Additional Information About ShopDish</h1>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid aspernatur enim maiores necessitatibus ut! Ab autem commodi dignissimos ducimus esse, et eum impedit in incidunt maxime necessitatibus, non suscipit voluptates.</span><span>Consectetur consequatur corporis dolore ea eaque id in inventore ipsa, ipsam iusto, laboriosam modi mollitia nesciunt nisi non nulla porro provident quaerat quasi quibusdam quod repellat repellendus reprehenderit sint totam?</span></p>

<h2>Why choose Us?</h2>

<div id="main">

    <div class="mydiv">
        <img src="{% static 'assets/watch1.png' %}" alt="" class="image">
        <h3>Watch1</h3>
        <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci cum cupiditate enim, error explicabo hic iusto maxime molestiae natus necessitatibus nulla officiis quam quia quibusdam quo quos repudiandae, saepe sequi.</span><span>Amet aut beatae blanditiis, cupiditate dolorem doloremque dolores earum error facere, in ipsa, magnam officiis quibusdam reiciendis tempore ut voluptatem voluptatum? Aperiam commodi et iure laboriosam nesciunt qui sapiente similique!</span></p>
    <button>More</button>
    </div>

    <div class="mydiv">
        <img src="{% static 'assets/watch2.png' %}" alt="" class="image">
        <h3>Watch2</h3>
        <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci cum cupiditate enim, error explicabo hic iusto maxime molestiae natus necessitatibus nulla officiis quam quia quibusdam quo quos repudiandae, saepe sequi.</span><span>Amet aut beatae blanditiis, cupiditate dolorem doloremque dolores earum error facere, in ipsa, magnam officiis quibusdam reiciendis tempore ut voluptatem voluptatum? Aperiam commodi et iure laboriosam nesciunt qui sapiente similique!</span></p>
    <button>More</button>
    </div>

    <div class="mydiv">
        <img src="{% static 'assets/watch3.png' %}" alt="" class="image">
        <h3>Watch3</h3>
        <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci cum cupiditate enim, error explicabo hic iusto maxime molestiae natus necessitatibus nulla officiis quam quia quibusdam quo quos repudiandae, saepe sequi.</span><span>Amet aut beatae blanditiis, cupiditate dolorem doloremque dolores earum error facere, in ipsa, magnam officiis quibusdam reiciendis tempore ut voluptatem voluptatum? Aperiam commodi et iure laboriosam nesciunt qui sapiente similique!</span></p>
    <button>More</button>
    </div>


</div>

</body>
</html>