<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gallery</title>
    {% load static%}
</head>
<body>

<h1>Products Offered at ShopDish</h1>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium at aut commodi culpa cupiditate, dignissimos dolore eaque fuga illum ipsam minima molestiae nesciunt nostrum quis quo, reiciendis tempora vel, voluptatum!</span><span>Dignissimos eum, fugiat iusto maiores nostrum rem sequi sunt? Aliquid atque blanditiis cupiditate eveniet facere facilis, fugiat impedit labore, maiores nesciunt odio quaerat rerum temporibus unde voluptatibus. Adipisci dignissimos, odio.</span></p>
<img src="{% static 'assets/img.png' %}" alt="">
<img src="{% static 'assets/img_1.png' %}" alt="">
<img src="{% static 'assets/img_2.png' %}" alt="">
<img src="{% static 'assets/img_3.png' %}" alt="">
<img src="{% static 'assets/img_4.png' %}" alt="">
<img src="{% static 'assets/img_5.png' %}" alt="">
<img src="{% static 'assets/img_6.png' %}" alt="">
<img src="{% static 'assets/img_7.png' %}" alt="">
<img src="{% static 'assets/img_8.png' %}" alt="">
</body>
</html>