<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Homepage</title>

    <style>
        h1{
            text-align: center;
            color: #583305;
            font-size: 50px;
            text-shadow: 8px 8px 8px limegreen;

        }



    </style>
</head>
<body>
<marquee behavior="" direction=""><h1>ShopDish App</h1></marquee>

<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum eaque eveniet facere, facilis mollitia pariatur perferendis quaerat quasi repellat reprehenderit repudiandae sapiente sequi voluptas. Dicta doloremque ex nostrum ratione rem.</span><span>Amet enim est eveniet expedita non quisquam quod voluptates. Ab aliquid consequuntur corporis ipsa minus neque nobis, nostrum omnis qui quisquam, sit ullam unde vel? Adipisci autem inventore minima tenetur!</span></p>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur exercitationem facilis illum, iusto laudantium maiores minima, minus nam nulla odio pariatur rerum saepe voluptatem? Adipisci debitis dolorem hic odit quia!</span><span>Asperiores beatae culpa cumque debitis eaque eum facere, illo in, ipsum laboriosam, modi optio possimus quaerat quia quisquam repellendus repudiandae similique sint soluta sunt tenetur ullam unde voluptatem. Quos, vitae?</span><span>Adipisci, aliquid blanditiis eveniet fuga impedit in inventore itaque iure laudantium modi pariatur quisquam quod recusandae repellendus, suscipit, tempora tempore ullam voluptas! Beatae distinctio dolore eius et, minus quaerat qui!</span></p>
</body>
</html>